@charset "utf-8";
/*初始化样式*/
*{box-sizing: border-box; font-family:microsoft yahei}
html { height: 100%; font-size: 100%; width: 100%; }
body { font-family: Helvetica, Arial, sans-serif; font-size: 16px; color:#333 }
body, ul, li, p, nav, footer, section, header, article, div, dl, dt, dd, button, h1, h2, h3, h4, h5, h6, input, textarea, img, cite, table, td, th { padding: 0; margin: 0; border: 0; text-align: left; font-style: normal; font-weight: normal; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-touch-callout: none;}
ul, li, dt, dd, ol { list-style: none; }
a:link { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-touch-callout: none; text-decoration: none; }
a:active, a:focus { outline: none; }
a:link, a:visited, a:hover, a:active { }
img { max-width: 100%; max-height: 100%; border: none; }
input, textarea { -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
nav, footer, section, header, article { display: block; }
/*#jQUi { background: rgba(0,0,0,1) }*/
/* #navbar{display: none!important;} */
/* #content{bottom:0!important;} */
#content { top: 47px!important; bottom: 0px!important; z-index: 1;padding:0 0 10px 0; background: none!important; left: 0!important }
/*初始化jqmobi框架*/
#header, #jQui_modal, #backButton{ display: none!important }
.jqPopup header{display:none!important}
/*地图*/
#dituContent img{ max-width:none!important; max-height:none!important}
/*小米手机专用竖屏*/
@media only screen and ( width:360px ) {
}
/*iphone4/4s竖屏*/
@media only screen and ( width:320px ) {
}
/*大部分安卓手机*/
@media only screen and ( min-width:479px ) {
}